.side-bar{
    width:28%;
    padding:10px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    height:60vh;
    box-shadow: 1px 1px 14px 1px rgb(58, 67, 67);
    border-radius: 4px;
    color:rgb(255, 111, 0)
}